:root {
    --dark: #701970;
    --light: #F1D4F1;
    --middle: #926692;
    --hoveractive: #C954C9;
}

body {
    background-color: var(--light);
}

header {
    background-color: var(--dark);
    color:var(--light);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}

header h1{
    font size: 36px;
    font-family: sans-serif;
}

.textright {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: var(--light);
}

nav ul a:link{
    color: var(--light);
}

nav ul a:visited{
    color: var(--light);
}

nav ul a:hover{
    color: var(--hoveractive);
}

nav ul a:active{
    color: var(--hoveractive);
}

.navbar {
 color: var(light);
}

.subheader {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 200px;
    width: 100%;
    color: var(light);
    background-image:url("../images/greenheader.jpg");
}

h2 {
    color: var(--light);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

.navlink {
    /* display:flex; */
    
}

#aboutme {
    display:flex;
    word-wrap: break-word;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
    color: var(--dark);
    /* margin-left: 100px;
    margin-right: 100px; */
    /* width: 100%; */
}

h3 {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content:stretch;  */
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    width: 22%;
     
}

.aboutmesection {
    /* display:flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
    position: relative;
    width:70%;
    font-size: 18px;
    font-family: sans-serif;
    border-left: 4px solid var(--dark) 
}


#work {
    display:flex;
    word-wrap: break-word;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
    color: var(--dark);

}

h4 {
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    width: 22%;
    border-right: 4px solid var(--dark);  
}

.worksamples {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:70%;
    font-size: 18px;
    font-family: sans-serif;
}

.websitecards {
    display:flex;
    align-content: flex-end;
    width: 25%;
    height: auto;
    border: 3px solid var(--middle);
    margin-right: 1px;
    margin-bottom: 2px;
    background-size: cover;
    padding: 100px;
}

.websitecards:hover {
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

#website1 {
    background-image: url("../images/cardphoto1.jpg");
}

#website2 {
    background-image: url("../images/cardphoto2.jpg");
}

#website3 {
    background-image: url("../images/cardphoto3.jpg");
}

#website4 {
    background-image: url("../images/cardphoto4.jpg");
}

#contactme {
    display:flex;
    word-wrap: break-word;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
    color: var(--dark);
}

h5{
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    width: 22%;
    border-right: 4px solid var(--dark)      
}

.contactmeinfo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    width:70%;
    font-size: 18px;
    font-family: sans-serif;
}

footer ul a:link{
    color: var(--dark);
}

footer ul a:visited{
    color: var(--dark);
}

footer ul a:hover{
    color: var(--hoveractive);
}

footer ul a:active{
    color: var(--hoveractive);
}